
<div class="mr-1 ml-1 mt-4 ">      
      <div class="row mt-4">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"> <strong> Timer and Interval</strong></div>
                    <button class="btn btn-primary" routerLink="interval">Go</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"> <strong>Of and From</strong>  </div>
                    <button class="btn btn-primary" routerLink="of-from">Go</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"><strong>ToArray</strong></div>
                    <button class="btn btn-primary" routerLink="toArray">Go</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"><strong> Custom Observer</strong></div>
                    <button class="btn btn-primary" routerLink="custom-observer">Go</button>
                </div>
            </div>
        </div>
      <div class="row mt-4">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"><strong>Map</strong> </div>
                    <button class="btn btn-primary" routerLink="map">Go</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"> <strong>Pluck</strong></div>
                    <button class="btn btn-primary" routerLink="pluck">Go</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"> <strong>ToArray</strong></div>
                    <button class="btn btn-primary" routerLink="toArray">Go</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"><strong>Filter</strong></div>
                    <button class="btn btn-primary" routerLink="filter">Go</button>
                </div>
            </div>
        </div>
      <div class="row mt-4">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"><strong>Tap</strong> </div>
                    <button class="btn btn-primary" routerLink="tap">Go</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"> <strong>Take</strong></div>
                    <button class="btn btn-primary" routerLink="take">Go</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"> <strong>Retry</strong></div>
                    <button class="btn btn-primary" routerLink="retry">Go</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"><strong>Debounce Until Change</strong></div>
                    <button class="btn btn-primary" routerLink="debounce-untill-change">Go</button>
                </div>
            </div>
        </div>
      <div class="row mt-4">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"><strong>Subject Behavior</strong> </div>
                    <button class="btn btn-primary" routerLink="subject-behavior">Go</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"> <strong>Reply Subject</strong></div>
                    <button class="btn btn-primary" routerLink="reply-subject">Go</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"> <strong>Async Subject</strong></div>
                    <button class="btn btn-primary" routerLink="async-subject">Go</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header  text-dark" style="min-height: 10vh;"><strong>Debounce Until Change</strong></div>
                    <button class="btn btn-primary" routerLink="debounce-untill-change">Go</button>
                </div>
            </div>
        </div>
</div>
